###############################################
# RESTIC
###############################################

export BACKUP_PATHS="$HOME/personal $HOME/code"
export BACKUP_EXCLUDES="--exclude-file=$HOME/.restic_excludes"

# pass show personal/b2/account
export B2_ACCOUNT_ID=xxxxxxxxxxxxxxxxxxxxxx

# pass show personal/b2/account
export B2_ACCOUNT_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx

# pass show personal/b2/<machine-name>
export RESTIC_REPOSITORY=b2:xxxxxxxxxxxxxxxxxxxxxxxx

# pass show personal/b2/<machine-name>
export RESTIC_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxx

###############################################
# MACHINE SPECIFIC VARS
###############################################
export DPI=140
export IFNAME=wlp2s0

# random_key 64 | xclip
export BEAM_COOKIE="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
