###############################################
# MACHINE SPECIFIC VARS
###############################################
export DPI=140
export IFNAME=wlp2s0

# random_key 64 | xclip
export BEAM_COOKIE="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
