###############################################
# MACHINE SPECIFIC VARS
###############################################
export DPI=140
export IFNAME=wlp2s0

# random_key 64 | xclip
export BEAM_COOKIE="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

###############################################
# GO-UTILS
###############################################

# export SSH_PUB=ssh-add -L

export CAP_FILE="$HOME/personal/cap.md"
export CAP_DIR="$HOME/personal/00-capture/cap"
