server {
	listen 80 ;
	listen [::]:80 ;

  disable_symlinks off;

	root /usr/share/nginx/html;

	server_name {{ domain }} {{ www_domain }};

	index index.html index.htm index.nginx-debian.html;
	location / {
		try_files $uri $uri/ =404;
		default_type text/plain;
	}
}
