[user]
  name = HoffsMH
  email = matthecker@pm.me
[core]
  editor = "nvim"
  excludesfile = ~/.gitignore_global
[pager]
    diff = delta -s --syntax-theme=gruvbox-dark
    log = delta -s --syntax-theme=gruvbox-dark
    reflog = delta -s --syntax-theme=gruvbox-dark
    show = delta -s --syntax-theme=gruvbox-dark

[interactive]
    diffFilter = delta -s --color-only --features=interactive
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[protocol "file"]
	allow = always
[safe]
    directory = *
